.employee-count {
    margin-left: 20px;
    visibility: visible;
}

.table-container {
    overflow: auto;
    visibility: visible;
    margin: 20px;
}

.show {
    visibility: visible;
}

table {
    background: transparent;
    margin-bottom: 20px;
    width: 100%;
}

.mat-cell {
    padding-right: 20px;
    white-space: nowrap;
    min-width: 200px;
}

.mat-header-cell {
    padding-right: 10px;
    white-space: nowrap;
}

.mat-header-cell ::ng-deep {
    text-transform: uppercase;
}

.zebra-stripe {
    background-color: #FAFAFA;
}