.form-container {
    mat-form-field {
        width: 100%;
    }
}

.image-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    img {
        height: 100px;
        width: 100px;
    }
    .status {
        margin: 10px;
    }
}